<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://www.pngkey.com/png/detail/233-2332677_image-500580-placeholder-transparent.png" height="200px"
      alt="">
  </div>
  <div class="big-card__title">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p><a href="">Duis aute sint Lorem voluptate deserunt consequat. Mollit minim fugiat incididunt in esse ea
        adipisicing dolore excepteur minim fugiat ex excepteur minim.</a></p>
  </div>
</div>